@import './color-themes.scss';

.home-wrapper {
    min-height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    @include themed() {
        background-color: t($bg);
        color: t($text);
    }

    .page {
        display: flex;
        margin-left: 5vw;
        margin-right: 5vw;
        max-width: 1200px;
    }

    .gif-container {
        position: absolute;
        top: 10vh;
        right: 20vw;
        width: 60vw;
        height: 60vw;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        background-color: #6dbac6;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

        @media (min-width: 40rem) {
            top: 10vh;
            width: 60vw;
            height: 60vw;
            right: 20vw;
        }
        @media (min-width: 56rem) {
            top: 20vh;
            width: 30vw;
            height: 30vw;
            right: 10vw;
        }

        img {
            height: 80%;
            width: auto;
            align-self: center;
        }
    }

    .text-container {
        position: absolute;
        top: calc(20vh + 60vw);
        left: 5vw;
        width: 90vw;
        height: auto;

        @media (min-width: 40rem) {
            width: 90vw;
            top: calc(20vh + 60vw);
        }
        @media (min-width: 56rem) {
            width: 45vw;
            top: 20vh;
        }

        h1 { margin-bottom: 2rem; }
        h2 { margin-bottom: 2.5rem; }
    }

    .tech-stack {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-bottom: 2rem;

        .tech {
            padding: 1rem;
            border-radius: 15px;
            border: 1px solid;
            box-shadow: 0 10px 20px -7px rgba(0, 0, 0, 0.25);
            position: relative;
            cursor: pointer;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            @include themed() {
                background-color: t($card-bg);
                border-color: t($card-border);
                color: t($text);
            }

            &:hover {
                transform: translateY(-5%);
                @include themed() {
                    color: t($brand-primary);
                }
            }
        }
    }
}