$brand--yellow: #F8E71C;

$bg--light: #f3f4f6;
$bg--card--light: #ffffff;
$card-border--light: rgba(0, 0, 0, 0.2);
$text--light: #000000;
$bg--toggle--light: #000000;
$toggle-icon--light: #f3f4f6;

$bg--dark: #111827;
$bg--card--dark: #000000;
$card-border--dark: rgba(255, 255, 255, 0.2);
$text--dark: #ffffff;
$bg--toggle--dark: #ffffff;
$toggle-icon--dark: #111827;
