html, body { margin: 0; padding: 0; }

.main-page {
    margin-left: 175px;
    padding-left: 30px;
}

.side-bar {
    height: 100%;
    width: 175px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(225, 225, 225);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: lightskyblue;
}

.nav-button {
    height: 30px;
    width: 100%;
    padding-left: 15px;
    vertical-align: middle;
    line-height: 30px;
}
.nav-button:hover {
    background-color: darkgrey;
}
